# All of these environment variables must be set to run rula. Please create a .env file in the project root and follow the format below.

#Graph endpoint: Microsoft's Graph API endpoint, i.e. https://graph.microsoft.com/v1.0/etc/etc/etc
GRAPH_ENDPOINT="Graph endpoint API"

#Azure AD Tenant ID: found in Azure Portal > Microsoft Entra ID > Properties > Tenant ID
TENANT_ID="Tenant ID"

#Client/Application ID - found in Azure Portal > Entra ID > App Registrations > rula > Overview
CLIENT_ID="Client ID"

# Client secret value (not the secret ID) - generated in App Registrations > rula > Certificates & Secrets
# COPY THE VALUE IMMEDIATELY AFTER CREATION. IT WILL NOT BE SHOWN AGAIN.
CLIENT_SECRET="Client Secret"

# Postgres login creds
DB_USER="DBUsername"
DB_PASSWORD="DBPassword"

# Name your postgres DB
DB_NAME="DBName"

# Must match service name in docker-compose.yml, default is "db"
DB_HOST="db" 

#Place your 256 bit encryption key here.
ENCRYPTION_KEY="256_bit_encryptionkey goes here"